/*  header */
#header {
  width: 100%;
  height: 90px;
  font-size: 25px;
  position: fixed;
  z-index: 10;
  /* top: -1000px; */
  color: #fff;
}

#header ul {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#header ul li {
  padding: 0.5% 1% 0 1%;
}

#header ul li a {
  font-size: 1.1vw;
  /* font-family: var(--sub_font); */
  font-weight: 100;
  font-family: "Chathura", sans-serif;
}

#header img {
  min-width: 18px;
  width: 1.5vw;
}

@media (max-width: 1000px) {
  #header ul li a {
    font-size: 15px;
  }
}

/*  //header */

/*  main_page */
.main_wrap {
  width: 100%;
  overflow: hidden;
}

.main_line ul {
  display: flex;
  top: 0;
  border-bottom: 1px solid var(--border_color);
  /* flex: 1 1 25%; */
}

.main_line ul li {
  width: 25%;
  border-right: 1px solid var(--border_color);
  height: 35vw;
  min-height: 300px;
}

@media (max-width: 450px) {
  .main_line ul li {
    min-height: 250px;
  }
}

.main_page {
  /* height: 340px; */
  display: flex;
  position: relative;
  top: -20vw;
  width: 100%;
}

.main_page h1 {
  font-size: 7.3vw;
  line-height: 1.11;
  font-weight: 400;
  white-space: nowrap;
  padding-left: 5vw;
}

.main_page h1 span {
  font-weight: 300;
}

.sub_text {
  margin-left: -2.4vw;
  color: var(--sub_color);
  opacity: 0.5;
  width: 10vw;
  border-top: 1px solid #888;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.6px;
  font-weight: 100;
  font-size: 0.9vw;
  min-width: 80px;
}

.main_inpo {
  position: relative;
  top: -16.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vw;
  overflow: hidden;
}

.main_inpo p {
  padding: 0 20vw 0 20vw;
  white-space: nowrap;
  color: var(--sub_color);
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  letter-spacing: 4.2px;
}

@media (max-width: 620px) {
  .main_inpo p {
    padding: 0 5vw 0 5vw;
  }

  .sub_text {
    margin-left: -30px;
  }
}

.main_banner {
  position: relative;
  top: -16vw;
  width: 100%;
  overflow: hidden;
  height: 30vw;
}

.main_banner .main_banner {
  position: relative;
}

.main_banner figure {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main_banner figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  min-height: 25vh;
}

@media (max-width: 750px) {
  .main_banner {
    height: 25vh;
  }

  .main_banner figure img {
    object-fit: cover;
  }
}

/*  //main_page */

/* about_page */
.about_page {
  margin-top: 20vw;
  width: 100%;
  transform: scale();
  padding-bottom: 15vw;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container .about_title {
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
}

.container .about_title h2 {
  font-size: 5.5vw;
  line-height: 1.11;
  font-weight: 400;
}

@media (max-width: 750px) {
  .container .about_title h2 {
    font-size: 7vw;
  }
}

.container .about_title span {
  font-weight: 300;
  float: right;
}

.about_cont {
  width: 100%;
  height: 32vw;
  min-height: 300px;
  border-top: 1px solid var(--border_color);
  border-bottom: 1px solid var(--border_color);
}

.about_cont ul {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: 10vw; */
}

.about_cont ul li:nth-child(1) {
  width: 40%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  background-image: url(../img/about01.jpg);
  background-size: cover;
  background-position: center;
}

.about_cont ul li:nth-child(2) {
  width: 20%;
  height: 100%;
  padding-top: 4%;
  overflow: hidden;
  border-left: 1px solid var(--border_color);
}

.about_cont ul li:nth-child(3) {
  width: 20%;
  height: 100%;
  padding-top: 9%;
  overflow: hidden;
  border-left: 1px solid var(--border_color);
}

.about_cont ul li:nth-child(4) {
  padding-top: 15%;
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid var(--border_color);
}

@media (max-width: 750px) {
  .about_cont {
    width: 100%;
    height: 100%;
  }

  .about_cont ul {
    flex-direction: column;
    width: 100%;
    height: 150vh;
    /* height: 10vw; */
  }

  .about_cont ul li:nth-child(1) {
    width: 100%;
    height: 250vh;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../img/about01.jpg);
    background-position-y: 20%;
    background-repeat: no-repeat;
  }

  .about_cont ul li:nth-child(2) {
    width: 100%;
    overflow: hidden;
    border-left: 1px solid var(--border_color);
    border-top: 1px solid var(--border_color);
    height: 170vh;
  }

  .about_cont ul li .about_num.about_num1 {
    font-size: 80px;
  }

  .about_cont ul li .about_num.about_num2 {
    font-size: 80px;
  }

  .about_cont ul li .about_num.about_num3 {
    font-size: 80px;
  }

  .about_cont ul li .about_desc.about_desc1 {
    /* font-size: 2.2vw; */
    font-size: 13px;
  }

  .about_cont ul li .about_desc.about_desc2 {
    /* font-size: 2.2vw; */
    font-size: 13px;
  }

  .about_cont ul li .about_desc.about_desc3 {
    /* font-size: 2.2vw; */
    font-size: 13px;
  }

  .about_cont ul li:nth-child(3) {
    width: 100%;
    height: 170vh;
    border-left: 1px solid var(--border_color);
    border-top: 1px solid var(--border_color);
    padding-top: 3%;
  }

  .about_cont ul li:nth-child(4) {
    width: 100%;
    height: 170vh;
    border-left: 1px solid var(--border_color);
    border-top: 1px solid var(--border_color);
    padding-top: 3%;
  }
}

.about_cont ul li .about_num {
  display: block;
  font-size: 6vw;
  width: 85%;
  margin: 0 auto;
  font-family: "Fabringo";
}

.about_cont ul li .about_desc {
  color: var(--sub_color);
  width: 85%;
  margin: 0 auto;
  font-family: "ChosunilboNM";
  font-size: 1vw;
  line-height: 1.5;
}

.aboutImg_box {
  margin-top: 30vw;
}

.about_text {
  width: 100%;
  height: 20vw;
  font-weight: 300;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .about_text {
    font-size: 30px;
  }
}

.about__img {
  width: 100%;
  height: 100%;
  min-height: 20vw;
}

.slider__img01 {
  background: url(../img/about02.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 25vw;
}

@media (max-width: 750px) {
  .about__img {
    padding-top: 5vw;
  }

  .slider__img01 {
    background-size: cover;
    min-height: 17vh;
    background-position: center;
  }
}

/* //about_page */

/* effect */
.effect {
  height: 100%;
  width: 100%;
  padding-top: 15vw;
  background-color: #fff;
  color: #000;
  padding-bottom: 15vw;
}

.text {
  width: 100%;
  height: 19vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--white_border);
}

.text.border {
  border-bottom: 1px solid var(--white_border);
}

.text h2 {
  font-size: 5vw;
  line-height: 1.03;
  font-weight: 500;
  padding-left: 5vw;
}

.text h2 span {
  font-weight: 300;
}

.text .desc {
  font-size: 1vw;
  line-height: 1.6;
  font-family: var(--desc_font);
  padding-top: 6vw;
  padding-right: 5vw;
}

.effect_info {
  display: flex;
  height: 34vw;
  margin-bottom: 10vw;
  border-top: 1px solid var(--white_border);
  border-bottom: 1px solid var(--white_border);
}

.effect_explanation {
  width: 30%;
  height: 100%;
  border-right: 1px solid var(--white_border);
}

.effect_explanation h3 {
  font-size: 1.5vw;
  font-weight: 300;
  letter-spacing: 7.2px;
  text-align: center;
  padding-top: 4.4vw;
}

.effect_explanation p {
  padding-left: 6vw;
  font-size: 1.1vw;
  line-height: 1.48;
  padding-top: 17.5vw;
  font-family: var(--desc_font);
}

.effect_explanation div {
  color: var(--border_color);
  font-family: var(--desc_font);
  font-size: 1.2vw;
  letter-spacing: 3px;
  height: 60px;
  display: flex;
  align-items: center;
}
.effect_explanation a {
  display: inline-block;
  margin-left: 6vw;
}
.effect_explanation div img {
  width: 2vw;
  height: 2vw;
  padding-left: 2%;
}


.effect_iframe {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_effect {
  width: 85%;
  height: 74%;
}

@media (max-width: 750px) {
  .text {
    width: 100%;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--white_border);
    align-items: flex-start;
}

  .text h2 {
    font-size: 7vw;
  }

  .text .desc {
    font-size: 1.6vw;
    line-height: 1.6;
    font-family: var(--desc_font);
    padding-top: 4vw;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .effect_info {
    display: flex;
    flex-direction: column;
    height: 80vw;
    border-top: 1px solid var(--border_color);
    border-bottom: 1px solid var(--border_color);
  }

  .effect_explanation {
    width: 100%;
    height: 100%;
    border-right: none;
  }
  .effect_explanation a {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .effect_explanation h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
    text-align: center;
    padding-top: 4.4vw;
  }

  .effect_explanation p {
    padding-left: 0;
    padding-top: 10.5vw;
    text-align: center;
    font-size: 15px;
  }

  .effect_explanation p br {
    display: none;
  }

  .effect_explanation div {
    justify-content: center;
    padding-left: 0;
    font-size: 15px;
  }

  .effect_explanation div img {
    width: 4vw;
    padding-left: 1.4%;
  }

  .effect_iframe {
    width: 100%;
    height: 100vh;
  }

  .slider_effect {
    height: 110%;
  }
}


/* //effect */

/* gmae */
/* .gmae_wrap {
padding: 56.25% 0 0 0;
}
.gmae_effect {
  width: 80%;
  height: 1300px;
  border: 0;
} */
.gmae_wrap {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding-top: 15vw;
  padding-bottom: 15vw;
}
.gmae_effect {
  width: 100%;
  padding: 0 17vw;
  height: 55vh;
}
.gmae_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vw;
  width: 100%;
  margin-top: 5vw;
}

.gmae_info h3 {
  font-size: 2.5vw;
  font-weight: 300;
  letter-spacing: 7.2px;
  padding-top: 4.4vw;
}

.gmae_info p {
  font-size: 1.3vw;
  font-family: var(--desc_font);
  margin-top: 0.5vw;
  padding-bottom: 2vw;
}



/* //gmae */

/* site */
.text.beige {
  border-top: 1px solid #CDA89F;
}

.site_wrap {
  height: 100%;
  width: 100%;
  background-color: #2A1A16;
  color: #B7958C;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.site_wrap .title {
  white-space: nowrap;
}

.site_info {
  display: flex;
  height: 28vw;
  margin-bottom: 10vw;
  border-bottom: 1px solid #CDA89F;
  border-top: 1px solid #CDA89F;
}

.site_explanation {
  width: 40%;
  height: 100%;
  border-left: 1px solid #CDA89F;
  position: relative;
}

.site_img {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site_img img {
  width: 99%;
  height: 90%;
}

.site_explanation h3 {
  font-size: 3vw;
  font-weight: 300;
  padding: 2vw;
}

.site_explanation p {
  font-size: 1vw;
  font-family: var(--desc_font);
  padding: 1vw 2vw;
}

.site_explanation a {
  display: inline-block;
  color: #B7958C;
  font-family: var(--desc_font);
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.site_explanation a div {
  font-size: 1.1vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;

}

.site_explanation a div img {
  width: 2vw;
  height: 2vw;
  padding-left: 2%;
}

@media (max-width:750px) {
  .site_info {
    display: flex;
    flex-direction: column;
    height: 85vw;
  }

  .site_img {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 4vw;
  }

  .site_explanation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    border-left: none;
  }

  .site_explanation a {
    position: unset;
    white-space: nowrap;
    padding: 1vw 0vw;
  }
  .site_explanation a div {
    font-size: 2.1vw;
}
  .site_explanation a div img {
    width: 32px;
    height: 70px;
    padding-left: 1%;
  }

  .site_explanation h3 {
    font-size: 5.5vw;
    font-weight: 300;
    padding: 2vw 0vw;
  }

  .site_explanation p {
    font-size: 2.4vw;
    font-family: var(--desc_font);
    padding: 0vw 5vw 0 0;
  }
}

/* //site */

/* contact */
.contact {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.contact_desc h2 {
  font-size: 3.5vw;
  font-weight: 200;
}

.contact_desc p {
  font-weight: 300;
  font-family: var(--desc_font);
  font-size: 1vw;
  text-align: center;
  padding-top: 5vw;
}

.contact_form {
  padding-top: 20vw;
}

.contact_form h2 {
  padding-bottom: 5vw;
  font-size: 3.5vw;
  font-weight: 200;

}

.contact_form fieldset {
  display: flex;
  flex-direction: column;
}

.contact_form fieldset input {
  width: 100%;
  height: 5vh;
  background-color: #000;
  border: 0;
  border-bottom: 1px solid var(--border_color);
}

.input_desc {
  text-align: start;
  display: inline-block;
  margin-top: 10px;
  height: 50vh !important;
  border: 1px solid var(--border_color) !important;
}

.contact_form fieldset button {
  background-color: #000;
  border: 1px solid var(--border_color);
  font-family: var(--desc_font);
  width: 78px;
  height: 38px;
  margin-top: 1vw;
  color: #818181;
  cursor: pointer;
}

@media (max-width:1100px) {
  .contact {
    width: 60%;
  }
}

@media (max-width:750px) {
  .contact {
    width: 80%;
  }

  .contact_desc h2 {
    font-size: 6.5vw;
  }

  .contact_desc p {
    font-size: 2vw;
  }
  .contact_form h2 {
    font-size: 6.5vw;
}
}

/* //contact */