@font-face {
  font-family: 'LABDigital';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf')
      format('truetype');
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'LABDigital';
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#wrap {
  width: 100%;
  height: 100vh;

  /* background: url(./img/game_bg.jpg); */
  /* background-size: cover;
    background-repeat: no-repeat; */
}

#header {
  width: 100%;
  height: 50px;
  background-color: #7c0685;
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: rgb(242, 242, 242);
}
#header #time {
  padding-right: 20px;
}
.music_html {
  margin-top: 200px;
  width: 380px;
  height: 600px;
  top: 100px;
  position: fixed;
  /* left: 3000px; */
  right: 0;
  transition: all 1s;
  transform: translateX(100%);
}
.music_html p,
.typing_html p {
  white-space: nowrap;
  display: none;
  justify-content: center !important;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(13, 37, 83, 0.8);
  left: 0;
  top: 0;
}
.typing_html {
  position: absolute;
  /* left: 3000px; */
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  border-radius: 5px;
  pointer-events: none;
  transition: all 1s ease;
}

.music_html.active {
  z-index: 10;
  /* left: 80%; */
  top: 20%;
  transition: all 1s;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.typing_html.active {
  z-index: 10;
  left: 50%;
  transition: all 1s;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.typing_html {
  width: 50%;
  height: 70%;
}

.icons_box ul {
  display: flex;
  padding: 50px 50px;
}

.icons_box li {
  width: 100px;
  height: 100px;
  margin: 0px 30px;
  border-radius: 50%;
  background: linear-gradient(rgb(247, 131, 131), rgb(60, 60, 253));
}

.icons_box li:hover {
  background: rgb(90, 239, 76);
  cursor: none !important;
}

.cursor {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 50px;
  height: 50px;
  z-index: 100;
  user-select: none;
  pointer-events: none;
  cursor: none;
}

.icons_box ul {
  flex-direction: column;
}
.icons_box ul li {
  margin: 20px;
}

.icons_box li a {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* color: #fff; */
}

.icons_box li a span {
  padding: 5px 20px;
  background-color: #c971f2;
}

.icons_box li a .icon {
  font-size: 70px;
  margin-top: 22px;
}

.icons_box li a .icon .game_img {
  width: 70%;
}

.memoryBox {
  position: absolute;
  /* left: 2000px; */
  top: 0;
  bottom: 0px;
  left: auto;
  right: 0;
  margin: auto;
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.17);
  transition: all 1s;
  transform: translateX(100%);
}
.memoryBox.active {
  transition: all 1s;
  left: 50%;
  transform: translateX(-50%);
}
.tetris {
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 0;
  margin: auto;
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.17);
  transition: all 1s;
  transform: translateX(100%);
}
.tetris.active {
  transition: all 1s;
  left: 50%;
  transform: translateX(-50%);
}
.tetris_iframe {
  height: 95%;
}
iframe {
  width: 100%;
  height: 103%;
}

/* close */
.close {
  width: 50px;
  padding: 10px 10px;
  float: right;
}
.close2 {
  width: 50px;
  padding: 10px 10px;
  float: right;
}
.close3 {
  width: 50px;
  padding: 10px 10px;
  float: right;
}
.close4 {
  width: 50px;
  padding: 10px 10px;
  float: right;
}
