@media (max-width:1000px) {
    #parallax__title p {
        display: none;
    }
    #parallax__title ul {
        margin-top: 0;
    }
    .scrollTop {
        display: none;
    }
    .attr {
        display: none;
    }
}
@media (max-width:650px) {
    #parallax__title h1 {
        margin-bottom: 1px !important;
        padding-bottom: 1px !important;
    }
    #parallax__title h1 a {
        font-size: 5vw;
    }
    #parallax__title {
        top: 0px;
    }
    #parallax__title ul {
        margin-top: 1px;
    }
    .top a {
        width: 40px !important;
        height: 35px !important;
        line-height: 36px !important;
    }
}