<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../asset/css/style.css" />
    <link rel="stylesheet" href="../asset/css/location.css" />
    <link rel="stylesheet" href="../asset/css/reset.css" />
    <link rel="stylesheet" href="../asset/css/font.css" />
    <link rel="stylesheet" href="../asset/css/common.css" />
    <title>OnAndYou</title>
</head>

<body>
    <header class="ony__header">
        <h1 class="ony__header-logo">
            <a href="../index.html">
                <img src="../asset/img/logo.png" alt="onandyou" />
            </a>
        </h1>
        <nav class="ony__header-nav">
            <ul class="ony__header-list">
                <li class="ony__header-item">
                    <a href="about.html" class="ony__header-link">about</a>
                </li>
                <li class="ony__header-item">
                    <a href="javascript:;" class="ony__header-link">shops</a>
                </li>
                <li class="ony__header-item">
                    <a href="javascript:;" class="ony__header-link">news</a>
                </li>
                <li class="ony__header-item">
                    <a href="javascript:;" class="ony__header-link">contacts</a>
                </li>
                <li class="ony__header-item active">
                    <a href="location.html" class="ony__header-link">LOCATION</a>
                </li>
            </ul>
        </nav>
        <div class="ony__header-menu">
            <button type="button" class="ony__header-menu-btn" aria-label="menu"></button>
        </div>
    </header>
    <div class="ony-location">
        <div class="ony-location-title">
            <h2>location</h2>
        </div>
        <div class="ony-location-map">
            <div class="ony-location-map-background"></div>
            <img src="../asset/img/location-img.png" class="ony-location-img" alt="">
        </div>
        <ul class="ony-location-list">
            <li class="ony-location-item">
                <div class="ony-location-box">
                    <h3 class="ony-location-sub-title">주소</h3>
                </div>
                <address class="ony-location-address">
                    <span class="ony-location-desc">
                        <em class="ony-location-address-title">지번 :</em>
                        <span>서울시 관악구 봉천동 1568-1</span>
                    </span>
                    <span class="ony-location-desc">
                        <em class="ony-location-address-title">도로명 :</em>
                        <span>서울시 관악구 쑥고개로 123 한양아이클래스 106호</span>
                    </span>
                </address>
            </li>
            <li class="ony-location-item">
                <div class="ony-location-box">
                    <h3 class="ony-location-sub-title">연락처</h3>
                </div>
                <address class="ony-location-address">
                    <span class="ony-location-desc">
                        <em class="ony-location-address-title">대표번호 :</em>
                        <span>070 1111-2222</span>
                    </span>
                    <span class="ony-location-desc">
                        <em class="ony-location-address-title">email :</em>
                        <a class="ony-location-address-link" href="mailto:onnu@test.com">
                            onnu@test.com
                        </a>
                    </span>
                </address>
            </li>
            <li class="ony-location-item">
                <div class="ony-location-box">
                    <h3 class="ony-location-sub-title">운영시간</h3>
                </div>
                <span class="ony-location-address">
                    <span class="ony-location-address-time">10:00 ~ 19:00</span>
                </span>
                </address>
            </li>
        </ul>
    </div>


    <!-- footer -->
    <footer class="footer ony__wrap">
        <h2 class="footer__title">OnAndYou</h2>
        <div class="footer-text">
            <div class="footer__link">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="javascript:;" class="footer__menu-link">about</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="javascript:;" class="footer__menu-link">inside</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="javascript:;" class="footer__menu-link">shops</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="javascript:;" class="footer__menu-link">news</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="javascript:;" class="footer__menu-link">contacts</a>
                    </li>
                </ul>
                <ul class="footer__address-list">
                    <li class="footer__address-item">
                        <a href="javascript:;" class="footer__address-link">PLASTICS CO.,LTD.</a>
                    </li>
                    <li class="footer__address-item">
                        <a href="javascript:;" class="footer__address-link">82-1-10 Nagocho,</a>
                    </li>
                    <li class="footer__address-item">
                        <a href="javascript:;" class="footer__address-link">Fukui-shi, Fukui-ken 888-8034</a>
                    </li>
                    <li class="footer__address-item">
                        <a href="javascript:;" class="footer__address-link">TEL 000-221-140</a>
                    </li>
                    <li class="footer__address-item">
                        <a href="javascript:;" class="footer__address-link">FAX 0000-221-140</a>
                    </li>
                </ul>
            </div>
            <div class="footer__info">
                <ul class="footer__info-list">
                    <li class="footer__info-item">
                        <a href="javascript:;" class="footer__info-link">CATALOG</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="javascript:;" class="footer__info-link">download</a>
                    </li>
                    <li class="footer__info-item">
                        <a href="javascript:;" class="footer__info-link">company</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer -->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="../js/location.js"></script>
</body>

</html>