/* info */
.modal__title {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #000;
}
.modal__title h4 {
  color: #000;
  padding-top: 300px;
}

.modal__title h1 {
  font-size: 34px;
  border-bottom: 1px dashed #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .modal__title p {
    display: none;
  }
  .info .number {
    top: 54px;
  }
}
@media (max-width: 670px) {
  .modal__title {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .modal__title h1 {
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    left: 0;
  }
  .info .number {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .source button {
    border: 1px solid #fff;
    background: transparent;
    font-family: var(--desc_font);
    color: #fff;
    font-size: 10px !important;
    padding: 7px 15px !important;
    border-radius: 50px;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.modal__title p {
  font-size: 16px;
}

.number {
  position: absolute;
  right: 20px;
  top: 20px;
}

.number li {
  display: inline;
}

.number li a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px dashed #fff;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin: 1px 1px 1px 1px;
}

.number li.active a {
  background: #fff;
  color: #000;
}

.source {
  position: relative;
}
.source img {
  width: 100%;
  height: 50vh;

  /* padding: 0 23vw; */
}

.source .source-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  background: transparent;
  font-family: var(--desc_font);
  color: #fff;
  font-size: 1vw;
  padding: 10px 30px;
  transition: all 0.2s;
  cursor: pointer;
}
.modal-close {
  border: 1px solid #fff;
  background: transparent;
  font-family: var(--desc_font);
  color: #fff;
  font-size: 1vw;
  padding: 10px 30px;
  transition: all 0.2s;
  cursor: pointer;
}

.source button:hover {
  background: #fff;
  color: #000;
}

/* 마우스 이펙트 */
.attr {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
}

/* //마우스 이펙트 */

/* modal */

#modal01,
#modal02,
#modal03 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.4);
  z-index: 1000;
  transform: scale(0);
}

#modal01.show,
#modal02.show,
#modal03.show {
  animation: foldOut 1s ease forwards;
}

#modal01.show.hide,
#modal02.show.hide,
#modal03.show.hide {
  animation: foldIn 1s ease backwards;
}

@keyframes foldOut {
  0% {
    transform: scaleX(0) scaleY(0.005);
  }

  50% {
    transform: scaleX(1) scaleY(0.005);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes foldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  50% {
    transform: scaleX(1) scaleY(0.005);
  }

  100% {
    transform: scaleX(0) scaleY(0.005);
  }
}

.modal-wrap {
  height: 100vh;
  transform: scale(0);
}

#modal01.show .modal-wrap {
  animation: zoomOut 0.5s 0.8s ease forwards;
}

#modal01.show.hide .modal-wrap {
  animation: zoomIn 0.5s ease forwards;
}
#modal02.show .modal-wrap {
  animation: zoomOut 0.5s 0.8s ease forwards;
}

#modal02.show.hide .modal-wrap {
  animation: zoomIn 0.5s ease forwards;
}
#modal03.show .modal-wrap {
  animation: zoomOut 0.5s 0.8s ease forwards;
}

#modal03.show.hide .modal-wrap {
  animation: zoomIn 0.5s ease forwards;
}

@keyframes zoomOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
.gmae_effect {
  width: 100%;
  height: 100%;
}

.modal-close {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* .modal-cont {
  opacity: 1;
  position: relative;
  width: 80vw;
} */
.modal-cont {
  opacity: 1;
  position: relative;
  width: 80vw;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

@media (max-width: 450px) {
  .modal-cont {
    width: 100%;
  }
}


.code-view {
  height: 94vh;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  overflow: scroll;
  overflow-x: hidden;
}
@media (max-width: 700px) {
  .code-view {
    height: 83vh;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.code-view::-webkit-scrollbar {
  width: 5px;
  /*스크롤바의 너비*/
}

.code-view::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
  border-radius: 5px;
  /*스크롤바의 색상*/
}

.code-view::-webkit-scrollbar-track {
  background-color: #2b2b2b;
  /*스크롤바 트랙 색상*/
}

.code-view::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}

.view-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 32px;
  background: #fff;
  padding: 7px 0 7px 10px;
  border-bottom: 1px solid #eee;
  border-radius: 5px 5px 0 0;
}

.view-header > span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
}

.view-header > span:nth-child(1) {
  background-color: #f56565;
}

.view-header > span:nth-child(2) {
  background-color: #f6e05e;
}

.view-header > span:nth-child(3) {
  background-color: #4ebb;
}

.view-modal__title {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 9px 0 7px;
  height: 37px;
}

.view-modal__title li {
  display: inline;
}

.view-modal__title li a {
  color: rgb(195, 196, 197);
  font-size: 14px;
  text-transform: uppercase;
  padding: 9px 20px 8px 20px;
  margin: 05px 0 0 0;
}

.view-modal__title li.active a {
  color: #000;
  background: #bec8ee;
  font-weight: 600;
}

.active2 {
  display: none;
}

.view-cont {
  background-color: #2b2b2b;
  height: 100%;
}

.view-cont pre code.hljs {
  line-height: 1.6;
  height: 60vh;
}

.view-cont > div {
  display: none;
}

.view-cont > div:first-child {
  display: block;
}
@media (max-width: 750px) {
  .source img {
    padding: 0;
  }
}
@media (max-width: 450px) {
  .view-cont {
    font-size: 13px;
  }
}

/* modal */
.gmaeEffect {
  width: 100%;
  height: 100%;
}
/* //modal */
