#main {
  overflow: hidden;
}
.scrollTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  z-index: 10000;
}
/* soomth 버그*/
.has-scroll-smooth {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gradient {
  width: 100%;
  height: 50vw;
  background: linear-gradient(#000, #fff);
}
.gradient2 {
  width: 100%;
  height: 50vw;
  background: linear-gradient(#fff, #2a1a16);
  /* opacity: 0; */
}
.gradient3 {
  width: 100%;
  height: 50vw;
  background: linear-gradient(#2a1a16, #000);
}
/* .effect,
.gmae_wrap,
.site_wrap,
.contact {
  display: none;
} */

/*  header */
#header {
  width: 100%;
  height: 90px;
  font-size: 25px;
  position: fixed;
  z-index: 100;
  /* top: -1000px; */
  color: #fff;
}

#header ul {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

#header ul li {
  padding: 0.5% 1% 0 1%;
}

#header ul li a {
  font-size: 20px;
  /* font-family: var(--sub_font); */
  font-weight: 100;
  font-family: "Chathura", sans-serif;
}

#header img {
  min-width: 18px;
  width: 1.5vw;
}

@media (max-width: 1000px) {
  #header ul li a {
    font-size: 15px;
  }
}

/*  //header */

/* nav-menu */
nav {
  --transition-time: 500ms;
  position: fixed;
  right: 0;
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  transform: translateX(100%);
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4000;
}

nav a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  user-select: none;
  color: #fff;
}

nav .nav-links {
  --link-height: 60px;
  position: relative;
  width: 100%;
}

nav .nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--link-height);
  list-style: none;
  opacity: 0;
  transform: translateX(50%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
  z-index: 8;
}

nav .nav-links li:hover {
  color: rgba(255, 255, 255, 0.85);
}

nav .nav-links li ol {
  display: none;
}

nav .nav-links .hover-el {
  position: absolute;
  width: 100%;
  height: var(--link-height);
  top: var(--y);
  left: var(--x);
  opacity: 0;
  background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  z-index: 5;
}

nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(50%);
}

nav .sub-menu ol {
  list-style: none;
}

nav .sub-menu ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--link-height);
  transition: all var(--transition-time) ease;
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
}

nav .sub-menu ol li:hover {
  background: rgba(0, 0, 0, 0.25);
}

nav .sub-menu ol li.off-menu {
  opacity: 0;
  transform: translateY(30%);
}

nav .sub-menu ol li.on-menu {
  opacity: 1;
  transform: translateY(0%);
}

nav .sub-menu ol li a {
  font-size: 1.2rem;
  font-weight: normal;
}

nav .sub-menu-btn {
  --icon-width: 40px;
  position: absolute;
  top: 6%;
  left: 10%;
  width: var(--icon-width);
  height: var(--icon-width);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 0;
  transform: translateX(85%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 8;
  pointer-events: none;
}

nav .sub-menu-btn .line {
  width: calc(var(--icon-width) - 28px);
  height: 2px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}

nav .sub-menu-btn .line__1 {
  transform-origin: left;
  transform: rotate(-35deg) translate(-1px, 8px);
}

nav .sub-menu-btn .line__2 {
  transform-origin: left;
  transform: rotate(35deg) translate(-1px, -8px);
}

nav .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-width: 25px;
  position: absolute;
  top: 3%;
  left: -5vw;
  width: calc(var(--icon-width) + 1vw);
  height: calc(var(--icon-width) + 1vw);
  flex-direction: column;
  transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 10;
}

nav .menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}

nav .menu-btn.close .line__2 {
  transform: rotate(-45deg);
}

nav .menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}

nav .menu-btn .line {
  width: var(--icon-width);
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
  background-color: #fff;
}

nav .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}

nav .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}

nav .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}

nav.nav-open {
  transform: translateX(0%);
  height: 100vh;
}

nav.nav-open .menu-btn {
  right: 10%;
}

nav.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}

nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
}

nav.sub-menu-open .nav-links .hover-el {
  opacity: 0;
}
/* //nav-menu */

/*  main_page */
.main_wrap {
  width: 100%;
  overflow: hidden;
  background-color: #000;
}
.bg_box {
  width: 100%;
  height: 35vw;
  overflow: hidden;
}
#banner_bg {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
}

.main_box {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg_box ul {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 35vw;
  overflow: hidden;
  z-index: 10;
  /* flex: 1 1 25%; */
}
.bottomLine {
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  animation-name: border;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  z-index: 1000;
  background-color: #fff;
}

.bg_box ul li {
  width: 25%;
  position: relative;
}

.mainLine1,
.mainLine2,
.mainLine3,
.mainLine4,
.mainLine5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 0%;
  background-color: #fff;
}

.main_page {
  display: flex;
  position: relative;
  top: -21vw;
  width: 100%;
  flex-direction: column;
}
/* 텍스트 효과 */
.loader {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  padding-left: 5vw;
  line-height: 1;
  z-index: 100;
  opacity: 0;
}
.intro-title .letter {
  display: inline-block;
  line-height: 1em;
  opacity: 0;
}
.intro-title1 {
  font-weight: bold;
}
.loader .intro-title1 {
  font-family: var(--main_font2);
}
.loader .intro-title2 {
  font-weight: 100;
  font-family: var(--main_font);
}
.loader .intro-title1,
.loader .intro-title2 {
  font-size: 5.8vw;
  text-transform: uppercase;
  color: #fff;
  z-index: 1000;
}
/* 텍스트 효과 */

.main_inpo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9vw;
  overflow: hidden;
  font-weight: 100%;
  transform: translateY(20%);
  opacity: 0;
}

.main_inpo p {
  padding: 0 20vw 0 20vw;
  white-space: nowrap;
  color: var(--sub_color);
  font-family: "Abel", sans-serif;
  font-size: 1vw;
  letter-spacing: 4.2px;
}

@media (max-width: 620px) {
  .main_inpo p {
    padding: 0 5vw 0 5vw;
  }
}

.main_banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 20vw;
}
.bg {
  width: 100%;
  height: 100%;
}
.main_inner {
  width: 100%;
  height: 100%;
  background: url(../img/img5.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0;
}


@media (max-width: 750px) {
  .bg_box {
    height: 50vw;
  }
  .bg_box ul {
    height: 50vw;
  }
  .main_banner {
    height: 16vh;
  }

  .main_banner figure img {
    object-fit: cover;
  }
}

/*  //main_page */

/* about_page */
.about_page {
  padding-top: 20vw;
  width: 100%;
  transform: scale();
  /* padding-bottom: 7vw; */
  background-color: #000;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container .about_title {
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
  /* opacity: 0; */
}

.container .about_title h2 {
  font-size: 4vw;
  line-height: 1.11;
  font-weight: 400;
  text-align: right;
  font-family: var(--main_font);
}
.container .about_title span {
  font-weight: 300;
  font-size: 5.2vw;
  font-weight: bold;
  font-family: var(--main_font2);
}

@media (max-width: 750px) {
  .container .about_title span{
    font-size: 8.2vw;
  }
  .container .about_title  h2{
    font-size: 6.2vw;
  }
}

.about_cont {
  width: 100%;
  height: 32vw;
  min-height: 300px;
  position: relative;
}
/* line */
.about_liine1 {
  position: absolute;
  top: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
}
.about_liine2 {
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
}
.about_liine3,
.about_liine4,
.about_liine5 {
  position: absolute;
  top: 0;
  width: 1px;
  height: 0%;
  background-color: #fff;
}
/* line */

.about_cont ul {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: 10vw; */
}
.about_cont ul li {
  position: relative;
}
.about_cont ul li:nth-child(1) {
  width: 40%;
  height: 0%;
  overflow: hidden;
}
.about_cont ul li:nth-child(1) > div {
  width: 100%;
  height: 100%;
  background-image: url(../img/about01.jpg);
  background-size: cover;
  background-position: center;
  /* transform: scale(1.3); */
  /* transition: 5s ease-out; */
}

.about_cont ul li:nth-child(2) {
  width: 20%;
  height: 100%;
  overflow: hidden;
  /* border-left: 1px solid var(--border_color); */
}

.about_cont ul li:nth-child(3) {
  width: 20%;
  height: 100%;
  padding-top: 9%;
  overflow: hidden;
  /* border-left: 1px solid var(--border_color); */
}

.about_cont ul li:nth-child(4) {
  padding-top: 15%;
  width: 20%;
  height: 100%;
  overflow: hidden;
  /* border-left: 1px solid var(--border_color); */
}

.desc1_text {
  display: inline-block;
  opacity: 0;
  transform: translateY(50%);
}

@media (max-width: 750px) {
  .about_cont {
    width: 100%;
    height: 100%;
  }

  .about_cont ul {
    flex-direction: column;
    width: 100%;
    height: 150vh;
    /* height: 10vw; */
  }
  /* 라인 */
  .about_liine3,
.about_liine4,
.about_liine5 {
display: none;
}

  .about_cont ul li:nth-child(1) {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    background-image: url(../img/about01.jpg);
    background-repeat: no-repeat;
  }

  .about_cont ul li:nth-child(2) {
    width: 100%;
    overflow: hidden;
    height: 170vh;
  }

  .about_cont ul li .about_num.about_num1 {
    font-size: 80px;
  }

  .about_cont ul li .about_num.about_num2 {
    font-size: 80px;
  }

  .about_cont ul li .about_num.about_num3 {
    font-size: 80px;
  }

  .about_cont ul li .about_desc.about_desc1 {
    /* font-size: 2.2vw; */
    font-size: 17px;
  }
  .about_cont ul li .about_desc.about_desc1 span, 
  .about_cont ul li .about_desc.about_desc2 span, 
  .about_cont ul li .about_desc.about_desc3 span {
    display: inline;
  }

  .about_cont ul li .about_desc.about_desc2 {
    /* font-size: 2.2vw; */
    font-size: 17px;
  }

  .about_cont ul li .about_desc.about_desc3 {
    /* font-size: 2.2vw; */
    font-size: 17px;
  }

  .about_cont ul li:nth-child(3) {
    width: 100%;
    height: 170vh;
    border-top: 1px solid var(--border_color);
    padding-top: 3%;
  }

  .about_cont ul li:nth-child(4) {
    width: 100%;
    height: 170vh;
    border-top: 1px solid var(--border_color);
    padding-top: 3%;
  }
}

.about_cont ul li .about_num {
  display: block;
  font-size: 6vw;
  width: 85%;
  margin: 0 auto;
  font-family: "Fabringo";
  opacity: 0;
}

.about_cont ul li .about_desc {
  color: var(--sub_color);
  width: 85%;
  margin: 0 auto;
  font-family: "ChosunilboNM";
  font-size: 1vw;
  line-height: 1.5;
  /* opacity: 0; */
}

.aboutImg_box {
  margin-top: 14vw;
  padding-bottom: 7vw;
}
.aboutImg_box .aboutImg_wrap {
  overflow: hidden;
}
.about_text {
  display: inline-block;
  transform: translateY(100%);
  width: 100%;
  height: 4vw;
  font-weight: 300;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2vw;
  font-family: var(--main_font);
}

@media (max-width: 1000px) {
  .about_text {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .aboutImg_box {
    display: none;
  }
}
@media (max-width: 600px) {
  .about_text {
    height: 10vw;
  }
}

.about__img {
  width: 100%;
  height: 100%;
}
.slider__img {
  width: 100%;
  /* opacity: 0; */
  /* background: url(../img/slider01.jpg); */
  background-size: cover;
}
#webgl {
  width: 100%;
  height: 35vw !important;
}
#webgl > canvas {
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 1000px) {
  #webgl {
    width: 100%;
    height: 60vh !important;
  }
}

/* //slider */
@media (max-width: 750px) {
  .slider__img01 {
    background-size: cover;
    min-height: 17vh;
    background-position: center;
  }
}

/* //about_page */

/* effect */
.effect {
  height: 100%;
  width: 100%;
  padding-top: 10vw;
  background-color: #fff;
  color: #000;
  padding-bottom: 10vw;
}
.effect_text {
  width: 100%;
  height: 19vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.effect_text > .effect_line1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
}
.effect_text > .effect_line2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
}

.effect_text h2 {
  font-size: 6vw;
  line-height: 1.03;
  font-weight: 500;
  padding-left: 5vw;
  font-family: var(--main_font);
}
.effect_text h2 span {
  font-weight: bold;
  font-family: var(--main_font2);
}

.effect_desc {
  font-size: 1vw;
  line-height: 1.6;
  font-family: var(--desc_font);
  padding-top: 6vw;
  padding-right: 5vw;
  /* opacity: 0; */
}
.effectText_desc {
  opacity: 0;
  display: inline-block;
  transform: translateY(100%);
}
.pin-spacer {
  background-color: #ffff !important;
}
/* 가로모드 */
.row_mode {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* border-top: 1px solid var(--white_border); */
  /* border-bottom: 1px solid var(--white_border); */
}
.rowMode_line1 {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 3.2vw;
  background-color: #000;
  transform: scaleX(0);
}
.rowMode_line2 {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 3.4vw;
  background-color: #000;
  transform: scaleX(0);
}

.row_mode h2 {
  font-size: 5vw;
  line-height: 1.03;
  font-weight: 500;
  padding-left: 5vw;
  font-family: var(--main_font);
}

.row_mode h2 span {
  font-weight: bold;
}

.row_mode .desc {
  font-size: 1vw;
  line-height: 1.6;
  font-family: var(--desc_font);
  padding-right: 5vw;
  overflow: hidden;
  padding-top: 1.8vw;
}

.section2Title_desc {
  display: inline-block;
  transform: translateY(200%);
}
.source img {
  width: 100%;
  height: 100%;
}
/* 가로모드 */

.text {
  width: 100%;
  height: 19vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--white_border);
  border-bottom: 1px solid var(--white_border);
}

/* 임시 */
.playImg_wrap {
  position: relative;
  top: 0;
  left: 0;
  height: 50vh;
  width: 56%;
  margin: 0 auto;
}
.play_effect {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0 15vw 0 16vw;
  color: #000;
}
.playImg_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play_effect h3 {
  font-size: 2.8vw;
  letter-spacing: 4.2px;
  text-align: center;
  font-family: var(--main_font);
  padding-top: 12vw;
}
.play_effect p {
  font-size: 1vw;
  text-align: center;
  padding-bottom: 2vw;
  font-family: var(--desc_font);
}
.gameIframe {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}
/* 임시 */


.text h2 {
  font-size: 6vw;
  line-height: 1.03;
  font-weight: 500;
  padding-left: 5vw;
}

.text h2 span {
  font-weight: bold;
}

.text .desc {
  font-size: 0.9vw;
  line-height: 1.6;
  font-family: var(--desc_font);
  padding-top: 6vw;
  padding-right: 5vw;
  opacity: 0;
}
/* subtitle */
.subtitle {
  height: 3vw;
  position: relative;
  /* border-top: 1px solid #cda89f; */
}
.site_line2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #cda89f;
  opacity: 0;
}
.site_line3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #cda89f;
  opacity: 0;
}
.site_line4,
.site_line5,
.site_line6,
.site_line7,
.site_line8 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #cda89f;
  opacity: 0;
}
.subtitle ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.2vw;
  overflow: hidden;
}
.subtitle ul li {
  transform: translateY(150%);
  color: #b7958c;
  font-size: 1.1vw;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  font-weight: 100;
  letter-spacing: 4.2px;
  opacity: 0.8;
}
.subtitle ul li:nth-child(1) {
  padding-left: 2.5vw;
  white-space: nowrap;
}
.subtitle ul li:nth-child(2) {
  padding-left: 20vw;
}
.subtitle ul li:nth-child(3) {
  padding-right: 16vw;
}
.subtitle ul li:nth-child(4) {
  padding-right: 2.5vw;
}
/* //subtitle */

.effect_info {
  display: flex;
  height: 41vw;
  /* border-bottom: 1px solid var(--white_border); */
}
.effect_info1,
.effect_info2,
.effect_info3,
.effect_info4 {
  position: relative;
}
.effect_info1 > .effectInfo_line1,
.effect_info2 > .effectInfo_line1,
.effect_info3 > .effectInfo_line1,
.effect_info4 > .effectInfo_line1 {
  width: 1px;
  height: 0%;
  background-color: #000;
}
.effect_info1 > .effectInfo_line2,
.effect_info2 > .effectInfo_line2,
.effect_info3 > .effectInfo_line2,
.effect_info4 > .effectInfo_line2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
}

.effect_explanation {
  width: 30%;
  height: 100%;
  /* border-right: 1px solid var(--white_border); */
  position: relative;
  font-family: var(--main_font);
}

.effect_explanation h3 {
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 7.2px;
  padding-top: 5.4vw;
  padding-left: 6vw;
}

.effect_explanation p {
  position: absolute;
  bottom: 7.5vw;
  left: 0;
  padding-left: 6vw;
  font-size: 1vw;
  line-height: 1.48;
  font-family: var(--desc_font);
}

.effect_explanation div {
  position: absolute;
  bottom: 5vw;
  left: 0;
  padding-left: 6vw;
  color: var(--border_color);
  font-family: var(--desc_font);
  font-size: 1vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}
.effect_explanation a {
  display: inline-block;
  margin-left: 6vw;
}
.iframe {
  width: 85%;
  height: 74%;
  overflow: hidden;
}
.effect_iframe {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.iframe_bg {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 90%;
  background-color: #fff;
  z-index: 1000;
}
.slider_effect {
  width: 100%;
  height: 100%;
  transform: scale(130%);
}

@media (max-width: 750px) {
  .iframe_bg {
    height: 100% ;
    bottom: 0;
  }
  .text {
    width: 100%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--white_border);
    border-bottom: 1px solid var(--white_border);
    align-items: flex-start;
  }

  .text h2 {
    font-size: 9vw;
  }

  .text .desc {
    font-size: 2vw;
    line-height: 1.6;
    font-family: var(--desc_font);
    padding-top: 4vw;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .effect_info {
    display: flex;
    flex-direction: column;
    height: 79vw;
  }

  .effect_explanation {
    width: 100%;
    height: 13vh;
    border-right: none;
    position: initial;
  }
  .effect_explanation a {
    display: none;
  }
  .effect_explanation div {
    padding-left: 0;
    font-size: 15px;
    position: initial;
  }
  .effect_explanation h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
    text-align: center;
    padding-top: 10vw;
  }

  .effect_explanation p {
    display: flex;
    justify-content: center;
    position: initial;
    padding-left: 6vw;
    padding-top: 1vw;
    font-size: 2vw;
    line-height: 1.48;
    font-family: var(--desc_font);
  }

  .effect_explanation p br {
    display: none;
  }

  .effect_explanation div img {
    width: 4vw;
    padding-left: 1.4%;
  }
.effect_iframe {
  width: 100%;
  height: 500vh;
} 
  .iframe {
    width: 100%;
    height: 100%;
  }
}

/* //effect */

/* gmae */
.gmae_wrap {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
  margin-bottom: 15vw;
  overflow-x: hidden;
  background-color: #000;
}
@media (max-width: 1200px){
  .gmae_wrap {
    overflow-x:visible;
  }
  .playImg_wrap {
    width: 85%;
  }
}
.gmae_effect {
  width: 100%;
  height: 300%;
}
.music_effect {
  width: 100%;
  padding: 0 17vw;
  height: 21vw;
}
/* 가로모드 */
.game_row {
  display: flex;
  position: relative;
  width: 600%;
}
/* //가로모드 */
.gmae_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50vw;
  width: 100%;
}

.gmae_info h3 {
  font-size: 2.5vw;
  font-weight: 300;
  letter-spacing: 7.2px;
  font-family: var(--main_font);
}

.gmae_info p {
  font-size: 1.3vw;
  font-family: var(--desc_font);
  margin-top: 0.5vw;
  padding-bottom: 2vw;
}
@media (max-width: 750px) {
  .row_mode {
    margin-top: 120px;
    flex-direction: column;
    height: 21vw;

  }
  .row_mode .desc {
    padding-top: 3vw;
    text-align: center;
    padding-right: 0;
}
  .row_mode h2 {
    font-size: 10vw;
    padding-left: 0;
  }

  .rowMode_line1 {
    top: -3.8vw;
  }
  .rowMode_line2 {
    bottom: -2.6vw;
  }
  .music_effect {
    padding: 0;
    height: 40vw;
  }
  .gmae_info {
    height: 55vw;
  }
  .gmae_info h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
    padding-top: 2.8vw;
  }
  .gmae_info p {
    font-size: 13px;
    font-family: var(--desc_font);
    margin-top: 0.5vw;
    padding-bottom: 2vw;
  }
  .game_row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .gmae_info {
    margin-bottom: 30vw;
  }
}
@media (max-width: 600px) {
  .gmae_info {
    height: 84vw;
  }
  .gmae_info h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 7.2px;
    padding-top: 2.8vw;
  }
  .gmae_info p {
    font-size: 13px;
    font-family: var(--desc_font);
    margin-top: 0.5vw;
    padding-bottom: 2vw;
  }
  .source img {
    height: 30vh;
  }
}

/* //gmae */

/* site */

.site_text {
  width: 100%;
  height: 19vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.site_desc {
  opacity: 0;
  display: inline-block;
  transform: translateY(100%);
}
.site_line1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cda89f;
  opacity: 0;
}
.site_text h2 {
  font-size: 6vw;
  line-height: 1.03;
  font-weight: 500;
  padding-left: 5vw;
  font-family: var(--main_font);
}
.site_text h2 span {
  font-weight: bold;
  font-family: var(--main_font2);
}
.site_text .desc {
  font-size: 1vw;
  line-height: 1.6;
  font-family: var(--desc_font);
  padding-top: 6vw;
  padding-right: 5vw;
}

.site_wrap {
  height: 100%;
  width: 100%;
  background-color: #2a1a16;
  color: #b7958c;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.site_wrap .title {
  white-space: nowrap;
}

.site_info {
  display: flex;
  height: 28vw;
  margin-bottom: 5vw;
  /* border-bottom: 1px solid #cda89f; */
  /* border-top: 1px solid #cda89f; */
  position: relative;
}
.siteH_line {
  width: 1px;
  height: 0%;
  background-color: #cda89f;
}

.site_explanation {
  width: 40%;
  height: 100%;
  /* border-left: 1px solid #cda89f; */
  position: relative;
}

.site_img {
  width: 63%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.site_img a {
  width: 93.5%;
  height: 86%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.siteImg_bg {
  position: absolute;
  width: 100%;
  height: 98%;
  background-color: #2a1a16;
  bottom: 1px;
  padding: 1.2vw 0 0 0;
  z-index: 20;
}
.site_img img {
  width: 100%;
  height: 100%;
}

.site_explanation h3 {
  font-size: 3vw;
  font-weight: 300;
  padding: 2vw 0 0 2.2vw;
  font-family: var(--main_font);
  transform: translateY(50%);
  opacity: 0;
}

.site_explanation p {
  font-size: 0.9vw;
  font-family: var(--desc_font);
  padding: 0 12.2vw 0 2.2vw;
  background-color: transparent;
  overflow: hidden;
}
.site_explanation p span {
  display: inline-block;
  opacity: 0;
  transform: translateY(100%);
}

.site_explanation a {
  display: inline-block;
  color: #b7958c;
  font-family: var(--desc_font);
  position: absolute;
  bottom: 7%;
  left: 6%;
  font-family: "Abel", sans-serif;
  font-weight: 200;
  letter-spacing: 4.2px;
}

.site_explanation a div {
  font-size: 0.8vw;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.site_explanation a div img {
  width: 2vw;
  height: 2vw;
  padding-left: 2%;
}
.siteImg1,
.siteImg2,
.siteImg3,
.siteImg4,
.siteImg5 {
  transform: scale(130%);
  transition: none !important;
}

@media (max-width: 750px) {
  .site_info {
    display: flex;
    flex-direction: column;
    height: 74vw;
    padding-bottom: 2.5vw;
    margin-bottom: 20vw;
  }
  .subtitle {
    height: 7vw;
  }
  .subtitle ul li {
    padding: 2vw;
    font-size: 2.5vw;
  }
  .site_text {
    height: 27vw;
  }
  .site_text h2 {
    padding-left: 3vw;
  }
  .site_wrap .title {
    font-size: 8.2vw;
  }
  .site_text .desc {
    padding-right: 3vw;
  }
  .siteImg_bg {
    height: 100%;
    bottom: 0;
  }
  .site_img {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 4vw;
  }
  figure.snipText .hidText div:after {
    transform: translateY(-200%) !important;
  }
  figure.snipText:hover .hidText div:after {
    transform: translate(0, 2%) !important;
}
figure.snipText {
  width: 100% !important;
}

  .site_explanation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    border-left: none;
  }

  .site_explanation a {
    position: unset;
    white-space: nowrap;
    padding: 1vw 0vw;
  }
  .site_explanation a div {
    display: none;
  }
  .site_explanation a div img {
    width: 32px;
    height: 70px;
    padding-left: 1%;
  }

  .site_explanation h3 {
    font-size: 5.5vw;
    font-weight: 300;
    padding: 2vw 0vw;
  }

  .site_explanation p {
    font-size: 2.4vw;
    font-family: var(--desc_font);
    padding: 0vw 5vw 0 0;
  }
}

/* hover */
figure.snipText {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 92%;
  color: #cda89f;
  text-align: center;
  font-size: 16px;
}

figure.snipText *,
figure.snipText *:before,
figure.snipText *:after {
  box-sizing: border-box;
  transition: all 0.55s ease;
}

figure.snipText img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}

figure.snipText .hidText {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}

figure.snipText .hidText:before,
figure.snipText .hidText:after {
  height: 2px;
  width: 40vw;
  position: absolute;
  content: "";
  background-color: #cda89f;
}

figure.snipText .hidText:before {
  top: 0;
  left: 0.5vw;
  transform: translateX(200%);
}

figure.snipText .hidText:after {
  bottom: 0;
  right: 10px;
  transform: translateX(-100%);
}

figure.snipText .hidText div:before,
figure.snipText .hidText div:after {
  width: 2px;
  height: 20vw;
  position: absolute;
  content: "";
  background-color: #cda89f;
}

figure.snipText .hidText div:before {
  top: 10px;
  right: 0;
  transform: translateY(100%);
}

figure.snipText .hidText div:after {
  bottom: 10px;
  left: 0;
  transform: translateY(-100%);
}

figure.snipText h2,
figure.snipText h4 {
  margin: 0;
  text-transform: uppercase;
  opacity: 0;
}

figure.snipText h2 {
  font-weight: 400;
}

figure.snipText h4 {
  display: block;
  font-weight: 700;
  background-color: rgb(205, 168, 159);
  padding: 5px 10px;
  color: #fff;
}

figure.snipText figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}

figure.snipText figcaption p {
  margin: 0;
}

figure.snipText a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

figure.snipText:hover > img {
  opacity: 0.35 !important; 
}

figure.snipText:hover h2,
figure.snipText:hover h4 {
  opacity: 1;
}

figure.snipText:hover .hidText:before,
figure.snipText:hover .hidText:after,
figure.snipText:hover .hidText div:before,
figure.snipText:hover .hidText div:after {
  transform: translate(0, 0);
}

figure.snipText:hover .hidText:before,
figure.snipText:hover .hidText:after {
  transition-delay: 0.15s;
  opacity: 1;
}

figure.snipText:hover figcaption {
  opacity: 1;
  transition-delay: 0.2s;
}
/* //hover */

/* //site */

/* contact */
.contact {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15vw;
  padding-bottom: 15vw;
  background-color: #000;
}
.contact_wrap {
  width: 40%;
  margin: 0 auto;
}

.contact_desc h2 {
  font-size: 3.5vw;
  font-weight: 200;
  font-family: var(--main_font);
}

.contact_desc p {
  font-weight: 300;
  font-family: var(--desc_font);
  font-size: 1vw;
  text-align: center;
  padding-top: 5vw;
}

.contact_form {
  padding-top: 20vw;
}

.contact_form h2 {
  padding-bottom: 5vw;
  font-size: 3.5vw;
  font-weight: 200;
  font-family: var(--main_font);
}

.contact_form fieldset {
  display: flex;
  flex-direction: column;
}

.contact_form fieldset input {
  width: 100%;
  height: 5vh;
  border: 0;
  border-bottom: 1px solid var(--border_color);
  background-color: #000;
  font-family: var(--desc_font);
  text-transform:none;
  -webkit-box-shadow: 0 0 0 1000px rgb(0, 0, 0) inset;
	box-shadow: 0 0 0 1000px rgb(0, 0, 0) inset;
}

.input_desc {
  text-align: start;
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  height: 50vh !important;
  border: 1px solid var(--border_color) !important;
  background-color: #000;
  text-transform:none;
  font-family: var(--desc_font);
  color: #fff;
}
input:focus {outline:none;}
textarea:focus {outline:none;}

.contact_form fieldset button {
  background-color: #000;
  border: 1px solid var(--border_color);
  font-family: var(--desc_font);
  width: 78px;
  height: 38px;
  margin-top: 1vw;
  color: #818181;
  cursor: pointer;
}
.thankyou_message {
  padding-top: 1vw;
}
@media (max-width: 1200px) {
  .contact_wrap {
    width: 80%;
  }
  .contact_form h2,
  .contact_desc h2 {
    font-size: 7vw;
  }
  .contact_desc p {
    font-size: 1.7vw;
  }
}


/* //contact */


