.ony-news {
  padding: 10vw 20vw 0;
}
.ony-news__text {
  padding: 10vw 0;
}
.ony-news__text-sub-title {
  overflow: hidden;
}
.ony-news__text-sub-title > span {
  display: inline-block;
  font-size: 1vw;
  text-transform: uppercase;
  transform: translateY(100%);
}

.ony-news__text-title {
  overflow: hidden;
}
.ony-news__text-title > h2 {
  margin-top: 3vw;
  font-size: 4vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  transform: translateY(100%);
}

.ony-news__list {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  margin-bottom: 10vw;
  transform: translateY(5%);
}

.ony-news__item {
  display: inline-block;
  overflow: hidden;
  width: 32%;
  height: 100%;
  margin: 6% 2% 0 0;
}

.ony-news__item:only-child,
.ony-news__item:nth-child(3n) {
  margin-right: 0;
}
.ony-news__item:nth-child(1),
.ony-news__item:nth-child(2),
.ony-news__item:nth-child(3) {
  margin-top: 0;
}

.ony-news__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ony-news__img {
  width: 100%;
  height: 20vw;
  overflow: hidden;
  object-fit: contain;
}

.ony-news__title {
  margin-top: 1.5vw;
  font-size: 1.1vw;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ony-news__store-name {
  margin-top: 1vw;
  font-size: 0.8vw;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .ony-news {
    transform: translateY(10%);
    padding: 10vw;
  }
  .ony-news__text-sub-title > span {
    font-size: 4vw;
  }
  .ony-news__text-title > h2 {
    font-size: 6vw;
    letter-spacing: 6px;
  }
  .ony-news__item:nth-child(1) {
    margin-top: 10vw;
  }
  .ony-news__item:nth-child(2),
  .ony-news__item:nth-child(3) {
    margin-top: 20vw;
  }

  .ony-news__item {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 20vw;
  }
  .ony-news__img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
  }
  .ony-news__title {
    font-size: 4vw;
  }
  .ony-news__store-name {
    font-size: 3vw;
  }
}
