.ony-post {
  padding: 15vw 20vw 5vw;
  text-align: center;
}

.ony-post__text {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2vw 0;
}

.ony-post__title {
  font-size: 1.7vw;
}

.ony-post__sub-title {
  margin-top: 1vw;
  font-size: 1vw;
  text-transform: uppercase;
}

.ony-post__news {
  color: red;
  margin-right: 1vw;
}

.ony-post__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
  min-height: 60vh;
}
.ony-post__img {
  width: 50%;
  margin-top: 2vw;
}
.ony-post__desc {
  text-align: center;
  padding: 2vw 0;
  width: 50%;
  font-size: 0.9vw;
  line-height: 2;
}
.ony-post__desc > em {
  font-size: 1vw;
  font-weight: 700;
}

.ony-post__more {
  display: inline-block;
  margin-top: 2vw;
  padding: 0.8vw 1vw;
  border: 1px solid #000;
  font-size: 0.8vw;
  transition: all 0.2s;
}

.ony-post__more:hover {
  background-color: #555;
  color: #fff;
  border: 1px solid transparent;
}
@media (max-width: 768px) {
  .ony-post {
    padding: 15vw 10vw 60vw;
    transform: translateY(15%) !important;
  }
  .ony-post__box {
    min-height: 52vh;
  }
  .ony-post__title {
    font-size: 5vw;
  }
  .ony-post__sub-title {
    margin-top: 3vw;
    font-size: 3vw;
  }
  .ony-post__text {
    padding: 7vw 0;
  }
  .ony-post__img {
    width: 100%;
  }
  .ony-post__desc {
    width: 100%;
    font-size: 3vw;
  }
  .ony-post__more {
    margin-top: 5vw;
    padding: 2vw 5vw;
    font-size: 3vw;
  }
}
